<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    This is a dummy html page user can see only when he is logged in.
    <br>
    Perhaps you can <a href="/hospital/logout">Logout</a> and try again to access this <a href="/hospital/home/">Page</a>.
    <div style="color:red">
        {{request.user}} is a hospital
    </div>
</body>
</html>
